{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "app-components": "./components",
          "app-styles": "./styles",
          "app-utils": "./utils"
        }
      }
    ]
  ]
}
