{
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "parser": "babel-eslint",
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "arrow-body-style": 0,
    "import/prefer-default-export": 0,
    "no-unused-vars": 1,
    "semi": [2, "always"],
    "jsx-a11y/label-has-associated-control": 0,
    "react/jsx-props-no-spreading": 0,
    "react/destructuring-assignment": 0,
    "react/no-unused-prop-types": 1,
    "react/no-unused-state": 1,
    "react/prefer-stateless-function": [
      0,
      {
        "ignorePureComponents": true
      }
    ],
    "react/sort-prop-types": [
      1,
      {
        "requiredFirst": true
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
