@import '../../styles/colors.module.scss';

.footer {
  height: 50px;
  background-color: white;
  @media print { display: none !important; }
}

.footerLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  a {
    color: $gray400;
    margin: 0 10px;
  }
}

.gitHub:hover {
  color: #24292e;
}
.linkedIn:hover {
  color: #2977c9;
}
.hackerRank:hover {
  color: #1ba94c;
}
