@import '../../styles/colors.module.scss';

:global(body) {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.contentWrapper {
  flex: 1;
}

.content {
  background-color: $gray50;
}

.footer {
  height: 50px;
  background-color: white;
}

.footerLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  a {
    color: $gray400;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.homeLink {
  color: black;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 24px;
}

.navLinks {
  list-style-type: none;
  margin: 0;
  li {
    float: left;
    margin-left: 20px;
    a {
      color: black;
      text-decoration: none;
    }
  }
}

.activeLink {
  border-bottom: 3px solid $accentColor;
}
