@import '../../styles/colors.module.scss';

:global(body) {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.contentWrapper {
  flex: 1;
  background-color: $gray50;
  padding-bottom: 50px;
}
