:global(body) {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.contentWrapper {
  flex: 1;
}

.footer {
  background-color: white;
}
