@import '../../styles/colors.module.scss';
@import '../../styles/zindexs.module.scss';

$navbarHeight: 55px;

.navbar {
  display: flex;
  justify-content: space-between;
}

.homeLink {
  color: black;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 24px;
  padding: 11px 40px;
}

.navLinks,
.mobileNavLinks {
  list-style-type: none;
  a {
    color: black;
    text-decoration: none;
  }
}

.navLinks {
  margin: 0 20px 0;
  li {
    float: left;
    padding: 15px 5px;
    a {
      padding: 15px 20px;
    }
  }
  .activeLink {
    border-bottom: 3px solid $accentColor;
  }
}

.mobileNavLinks {
  padding: 0;
  a {
    display: block;
    padding: 15px 20px;
    &:hover {
      background-color: $gray100;
    }
  }
  .activeLink {
    a {
      background-color: rgba($accentColor, .1);
      color: darken($accentColor, 30);
    }
  }
}

.barsIcon {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 12px;
}

.mobileMenu {
  position: absolute;
  left: 0px;
  right: 0px;
  top: $navbarHeight;
  height: 100vh;
  background-color: white;
  z-index: $mobileNav;
}
