@import '../styles/colors.module.scss';

.email {
  color: $accentColor;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80vh;
  align-items: center;
}

.leftSide,
.rightSide {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.leftSide {
  border-right: 1px solid $gray300;
}

.mailboxWrapper {
  margin: 100px;
  min-width: 300px  ;
  max-width: 400px;
}

.emailBox {
  margin: 50px;
  width: 300px;
  cursor: pointer;
  position: relative;
}

.emailAddress {
  margin: 10px 0 0;
}

.copyMode {
  border: 1px solid $accentColor;
  background-color: rgba($accentColor, 0.1);
}

.copyIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: $accentColor;
}
