@import '../styles/colors.module.scss';
@import '../styles/breakpoints.module.scss';

.email {
  color: $accentColor;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 80px 0;
}

.leftSide,
.rightSide {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.leftSide {
  border-right: 1px solid $gray300;
  @media (max-width: $largeMobile) {
    display: none;
  }
}

.mailboxWrapper {
  margin: 100px;
  min-width: 300px;
  max-width: 400px;
}

.emailBox {
  margin: 50px;
  width: 300px;
  cursor: pointer;
  position: relative;
  transition: opacity .1s ease-in-out, background-color .4s;
  @media (max-width: $largeMobile) {
    margin: 0 auto;
    width: 250px;
  }
}

.emailAddress {
  margin: 10px 0 0;
}

.copyIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: $gray400;
}

.emailBox:hover { // Box hovered
  border: 1px solid $accentColor;
  background-color: rgba($accentColor, 0.1);
  .copyIcon {
    color: $accentColor;
  }
}

.copied {
  background-color: rgba($accentColor, 0.7) !important;
  .copyIcon {
    opacity: 0 !important;
  }
  .emailMe {
    color: $gray50 !important;
  }
  .emailAddress {
    color: $gray100 !important;
  }
}
