@import '../styles/colors.module.scss';

.markdownWrapper {
  padding: 100px 15px;
}

.markdown {
  max-width: 900px;
  margin: 0px auto;
  padding: 40px;
  border-radius: 10px;
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 10px 0px;
  position: relative;

  code {
    padding: .2em .4em;
    margin: 0;
    // font-size: 85%;
    background-color: rgba(27, 31, 35, .05);
    border-radius: 3px;
  }

  a {
    text-decoration: none;
    color: inherit;
    box-shadow: inset 0 -1px 0 $accentColor;
    &:hover {
      color: darken($accentColor, 30);
    }
  }

  blockquote > p {
    border-left: 2px solid $gray400;
    padding: 0 0 5px 15px;
    margin: 7px 0;
  }

  h2 {
    margin-top: 0;
  }

  h3 {
    margin-top: 40px;
    margin-bottom: 5px;
  }

  h4 {
    margin: 5px 0;
  }

  li {
    margin-bottom: 12px;
  }
}

.markdownToggle {
  color: $gray400;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 25px;
}

.activeToggle {
  color: black;
}
