$white: white;

$gray50: #FAFAFA;
$gray100: #F5F5F5;
$gray200: #EEEEEE;
$gray300: #E0E0E0;
$gray400: #BDBDBD;

$blue: #007ace;
$purple: #6C63FF;

$accentColor: $purple;

:export {
  accentColor: $accentColor;
}
